.results_display {
	
	height: 550px;
	overflow: scroll;
	
}

.book_results_display {
	padding-top: 20px;
	border-top: 2px solid black;
	padding-bottom: 40px;
}

.book_results_display img {
	width: 70px;
	float: left;
	margin-right: 10px;
}

.book_results_text {
	margin-left: 90px;
}

.special_button {
	background-color: #87cefa;
	height: 25px;
	margin: 5px;
}