html { 
	width: 760px;
	/* height: 100%; */
}

body {
	margin: 0px;
	/* height: 100%; */
}

#top_bar_logo {
    float: left;
    margin: 10px;
}

#top_bar_logo > img {
    width: 100px;
    height: 100px;
}

#top_bar_options {
    float: right;
    font-size: 10pt;
    margin-right: 10px;
    margin-top: 10px;
}

#top_section {
	overflow: hidden;
	background-color: #87cefa;
	border-bottom: 2px solid black;	
}

#side_bar {
	padding-top: 100px;
	/* height: 100%; */
	height: 1400px;
	width: 100px;
	float: left;
	background-color: #87cefa;
	border-right: 2px solid black;	
	margin-right: 20px;
}

#side_bar a {
	display: block;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #bebebe;
	margin: 0px;
	border-bottom: 2px solid black;
	text-decoration: none;
	color: black;
	text-align: center;	
}

#tabs {
	border-top: 2px solid black;
}