html { 
	width: 760px;
}

#content h1 {
    clear: both;
    color: black;
    font-size: 24pt;
}

#content h2 {
    color: black;
    font-size: 14pt;
}
.book_img{
        height: 100px;
        float: left;
        margin-right: 20px;
        margin-bottom: 20px
}
.books_list{
	height:140px;
}
.book_unit{
	width:610px;
	overflow: hidden;
	border-bottom: 2px solid black;
	margin-bottom:10px;
}
ul#menu {
    	background-color:silver;
    	height: 43px;
    	list-style-type: none;
    	margin: 0;
    	padding: 0;
    	width: 100%;
}
ul#menu li {
	display: block;
    	float: left;
   	margin: 0 0 0 5px;
}
li#add{
	float: right;
}
.buttons{
	float:right;
	margin-left: 10px;
	margin-right: 10px;
}
.tabs{
	float:left;
	background-color:gray;
        margin-right:5px;
}
#current{
	background-color:gray;
}
#add{
	float:right;
	border:2px solid black;
}
#list{
	float:left;
	border:2px solid black;
	width: 614px;
	padding:10px;
	
	height: 550px;
	overflow: scroll;
}
#remove{
	float:left;
}
#cancel{
	float:right;
}
