html {
        width: 760px;
}

a{
   text-decoration:none;
}

#content h1 {
    clear: both;
    color: black;
    font-size: 24pt;
}

#content h2 {
    color: black;
    font-size: 14pt;
}
.book_img{
	height: 100px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px
}
.books_list{
	height:140px;
}
.book_unit{
	width:520px;
	overflow: hidden;
	border-bottom: 2px solid black;
	margin-bottom:10px;
}
#menubar{
    vertical-align:middle;
    width:560px;
    float:left;
}

#menubar a{
    color: black;
}
#menu {
	background-color: #8671CE;
	height: 43px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
#menu li {
	display: block;
	float: left;
	line-height: 200%;
	padding: 8px 15px 0px 0px;
	text-decoration: none;
}

#menu .current{
	background-color: #271466;
	color:white;
	padding: 14px 15px 12px 18px;
}

#menu a:hover {
	background-color: #271466;
	color:white;
	padding: 14px 15px 12px 18px;
}

#add{
    float: none;
}
.buttons{
	float:right;
	margin-left: 10px;
	margin-right: 10px;
}
.tabs{
	float:left;
	background-color:gray;
	margin-right:5px;
}
#current{
	background-color:gray;
}

#list{
	float:left;
	border:2px solid black;
	width: 540px;
	padding:10px;
	height: 550px;
	overflow: scroll;
}
#remove{
	float:left;
}
#cancel{
	float:right;
}
#offer{
	width:560px;
}

