h1 {
    clear: both;
}

#hello_message {
    text-align: center;
}

#top_bar_logo {
    float: left;
    margin: 10px;
}

#top_bar_options {
    float: right;
    font-size: 10pt;
    margin-right: 10px;
}

#splash_boxes {
    clear: both;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
}

/* the big boxes in the middle of the page */
#splash_boxes div {
    border: 5px solid black;
    padding: 50px;
    margin-left: 50px;
    margin-right: 50px;
    display: inline;
    font-weight: bold;
    background-color: #0000d7;
    color: #ffaf00;
}

#splash_description {
    clear: both;
    margin-top: 150px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 5pt;
    border: 1px solid black;
    text-align: center;
}