#content h1 {
    clear: both;
    color: black;
    font-size: 24pt;
}

#content h2 {
    color: black;
    font-size: 14pt;
}

#hello_message {
    text-align: center;
}

#top_bar_logo {
    float: left;
    margin: 10px;
}

#top_bar_options {
    float: right;
    font-size: 10pt;
    margin-right: 10px;
}

#splash_boxes {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 50px;
}

#splash_description {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}