html { 
	width: 760px;
}

#content h1 {
    clear: both;
    color: black;
    font-size: 24pt;
}

#content h2 {
    color: black;
    font-size: 14pt;
}

#hello_message {
    text-align: center;
}

/* moved to layout.css
#top_bar_logo {
    float: left;
    margin: 10px;
}
*/

/*
#top_bar_logo > img {
    width: 100px;
    height: 100px;
}
*/

/*
#top_bar_options {
    float: right;
    font-size: 10pt;
    margin-right: 10px;
    margin-top: 10px;
}
*/

#splash_boxes {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 50px;
    margin-left: auto;  /* added */
    margin-right: auto; /* added */
    overflow: hidden;   /* added */
}

ul {					/* added */
	text-align: left;
	padding-left: 25px;
}

.box {					/* added */
	width: 204px;
	float: left;	
}

.box img {     /* changed splash_boxes to .box */
    height: 180px;
    width: 180px;
}

#splash_description {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.book_display {
	padding-top: 20px;
	border-top: 2px solid black;
	padding-bottom: 20px;
}

.book_display img {
	height: 100px;
	float: left;
	margin-right: 10px;
}

a img{
	border-style: none;	
}
