.trade_list {
	height: 200px;
	overflow: scroll;
	border: solid black 1px;
	padding: 5px;
}

.book_display {
	padding-top: 20px;
	border-top: 2px solid black;
	padding-bottom: 20px;
}

.book_display img {
	height: 100px;
	float: left;
	margin-right: 10px;
}
.book_img{
        height: 100px;
        float: left;
        margin-right: 20px;
        margin-bottom: 20px
}
.books_list{
	height:140px;
}
.book_unit{
	width:610px;
	overflow: hidden;
	border-bottom: 2px solid black;
	margin-bottom:10px;
}

#outer_container {
	width: 300px;
	align: center;	
}

fieldset {
	border: 3px solid #000000;	
}

legend {
	color: black;	
}